doctype html
html
    head
        meta(charset="utf-8")
        meta(name="format-detection", content="telephone=no")
        meta(name="msapplication-tap-highlight", content="no")
        meta(http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'")

        // WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 
        // <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" /> 

        meta(http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'")
        meta(name="viewport", content="user-scalable=no, width=320")
        link(rel="stylesheet", href="bower_components/jquery-mobile-bower/css/jquery.mobile-1.4.2.css")
        link(rel="stylesheet", href="font-awesome-4.2.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="bower_components/leaflet/dist/leaflet.css")
        script(src="bower_components/jquery/dist/jquery.js")
        script(src="bower_components/slsapi/dist/slsapi.js")
        script(src="bower_components/jquery-mobile-bower/js/jquery.mobile-1.4.2.js")
        script(src="bower_components/leaflet/dist/leaflet-src.js")
        title Searchlight Mobile

        
    body

        div#splash(data-role="page", data-theme="a")
            div(role="main", class="ui-content")
                
        div#problemarede(data-role="page", data-theme="a")
            div(data-role="header")
                h1 Searchlight

            div(role="main", class="ui-content")
                h3 Oops!
                p Não conseguimos conectar a internet.
                p Para utilizar o Searchlight é necessário possuir conexão com a internet.  
                p Pode checar sua conexão? 

                p 
                    a.ui-btn.ui-shadow.ui-corner-all(href="javascript:app.main()")
                        i.fa.fa-refresh
                        span &nbsp; Tentar novamente
                p(style='text-align:center') ou 
                br
                p 
                    a.ui-btn(href="javascript:app.trocarServico()") Escolher outro serviço 


            div(data-role="footer", data-position="fixed")
                h4 &copy UFES 
     
        div#pgservico(data-role="page", data-theme="a")
            div(data-role="header")
                h1 Searchlight

            div(role="main", class="ui-content")
                p  Para utilizar o Searchlight é necessário que este esteja vinculado a um serviço de coleta. Vc pode fazer isso clicando no botão "vincular serviço". Ao clicá-lo posicione o smartphone de forma que possa ler o código QR gerado pelo seu serviço.

                a.ui-btn.ui-shadow.ui-corner-all(href="javascript:app.vincularServico()")
                        i.fa.fa-2x.fa-qrcode
                        br
                        span Vincular Serviço

            div(data-role="footer", data-position="fixed")
                h4 &copy UFES 
                
        div#pglogin(data-role="page", data-theme="a")
            div(data-role="header")
                h1 Searchlight

            div(role="main", class="ui-content")
                        h3 Login

                        form#loginForm
                            div(data-role="fieldcontain",class="ui-hide-label")
                                label(for="username") Usuário:
                                input(type="text",name="username",id="username",value="",placeholder="Usuário")
                                
                            div(data-role="fieldcontain",class="ui-hide-label")
                                label(for="password") Senha:
                                input(type="password", name="password",id="password",value="",placeholder="Senha")

                            p 
                                input(type="submit",value="Entrar",id="submitButton")
                            br 
                            p(style='text-align:center') ou 
                            br
                            p 
                                a.ui-btn(href="javascript:app.trocarServico()") Escolher outro serviço 



            div(data-role="footer", data-position="fixed")
                h4 &copy UFES 
                
            
        div#pglogado(data-role="page", data-theme="a")
            div(data-role="header")
                h1 Searchlight 
                a.ui-btn-right.ui-mini.btn-closetv(style="display:none", data-role='button',data-inline='true')
                     i.fa.fa-share-square
                     span  
                a.ui-btn-right.ui-mini.btn-selecttv(style="display:none", data-role='button',data-inline='true')
                     i.fa.fa-share-square-o
                     span  
    

            div#telaPrincipal(data-role="content")

                       a.ui-btn.ui-shadow.ui-corner-all(style="text-align:left",href="javascript:anotacoesview.identificar();")
                            i.fa.fa-qrcode
                            span &nbsp;Anotação Identificada
                       br
                       a.ui-btn.ui-shadow.ui-corner-all(style="text-align:left",href="javascript:anotacoesview.rastrear();")
                            i.fa.fa-location
                            span &nbsp;Rastrear
                       br
                       a.ui-btn.ui-shadow.ui-corner-all(style="text-align:left",href="javascript:anotacoesview.anotar()") 
                            i.fa.fa-bullhorn
                            span &nbsp;Personalizado
              
            div(data-role="footer", data-position="fixed")
                div(data-role="navbar")
                    ul
                        li: a.ui-btn-activ.ui-state-persist(href="#pglogado", data-icon='edit', data-rel='page', data-transition='none') Ações
                        li: a(href="javascript:anotacoesview.listar()", data-icon='bars', data-rel='page', data-transition='none') Notas
                        li: a(href="#pgperfil", data-icon='user', data-rel='page', data-transition='none') Perfil

        div#pghistorico(data-role="page", data-theme="a")
            div(data-role="header", data-position='fixed')
                h1 Notas
                div#notasnav(data-role="navbar" data-iconpos="left")
                    ul
                        li
                            a.ui-btn-active.coletadas( data-ul-id="divulcoletadas") Coletadas
                        li
                             a.fornecidas(data-ul-id="divulfornecidas") Fornecidas 

            div(data-role="content")
                div#divulcoletadas
                    ul#ulcoletadas(data-role="listview",data-filter="true",data-filter-placeholder='Buscar notas coletadas', data-inset="true",data-shadow='false')
                div#divulfornecidas
                    ul#ulfornecidas(data-role="listview",data-filter="true",data-filter-placeholder='Buscar notas fornecidas', data-inset="true",data-shadow='false')

            div(data-role="footer", data-position="fixed")
                div(data-role="navbar")
                    ul
                        li: a(href="#pglogado", data-icon='edit', data-rel='page', data-transition='none') Ações
                        li: a.ui-btn-active.ui-state-persist(href="javascript:anotacoesview.listar()", data-icon='bars', data-rel='page', data-transition='none') Notas
                        li: a(href="#pgperfil", data-icon='user', data-rel='page', data-transition='none') Perfil

        div#pgperfil(data-role="page", data-theme="a")
           div(data-role="header")
                h1 Searchlight 
           div(data-role="content")
               div.ui-body.ui-body-a
                   h3  Perfil 
                   p.usuario
                   a.ui-btn.ui-shadow.ui-corner-all(href="javascript:userview.trocarUsuario();") Trocar de Usuario
                   p
                        label(for="pgperfiltimeout") Cache do GPS em segundos
                        input#pgperfiltimeout(type="range", max="60", min="1" ,name="pgperfiltimeout", placeholder="Cache GPS (segundos)", value="10")
                   p(style="text-align:center") 
                        span: i.fa.fa-location-arrow &nbsp; 
                        span.text#pganotar-gps 27.234, 23.3434 
                        br
                        span.text#pganotar-gps-accuracy (20 m) 
                   input(type="checkbox" checked="true" class='checkAnotacoesProximas' id="anotacoesp" name="anotacoesp") 
                   label(for="anotacoesp") Listar notas próximas
               br
               div.ui-body.ui-body-a
                   h3 Searchlight Service
                   a.ui-btn.ui-shadow.ui-corner-all(href="javascript:app.trocarServico()") Escolher serviço de coleta
                   a#logativrecent.ui-btn.ui-shadow.ui-corner-all(href="javascript:app.mostraHistorico()") Sincronizar

               



            div(data-role="footer", data-position="fixed")
                div(data-role="navbar")
                    ul
                        li: a(href="#pglogado", data-icon='edit',data-rel='page', data-transition='none') Ações
                        li: a(href="javascript:anotacoesview.listar()", data-icon='bars',data-rel='page', data-transition='none') Notas
                        li: a.ui-btn-active.ui-state-persist(href="#pgperfil", data-role='tab', data-rel='page', data-transition='none',data-icon='user') Perfil
        include templates/pganotar
        include templates/pgnoteview
        include templates/pgrastrear

        script(type="text/javascript", src="cordova.js")
        script(type="text/javascript", src="js/index.js")
        script(type="text/javascript").
             var app = new App();

